---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-blackbox-exporter-deployment
  namespace: opennsa
  labels:
    app: prometheus-blackbox-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-blackbox-exporter
  template:
    metadata:
      labels:
        app: prometheus-blackbox-exporter
    spec:
      hostNetwork: true
      restartPolicy: Always
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k8s-igrok-01.calit2.optiputer.net
                - k8s-igrok-02.calit2.optiputer.net
                - k8s-igrok-03.calit2.optiputer.net
                - k8s-igrok-04.calit2.optiputer.net
                - k8s-igrok-05.calit2.optiputer.net
                - k8s-igrok-06.calit2.optiputer.net
      containers:
        - name: blackbox-exporter
          image: "quay.io/prometheus/blackbox-exporter:v0.25.0"
          imagePullPolicy: IfNotPresent
          securityContext:
            readOnlyRootFilesystem: true
          args:
            - "--config.file=/config/blackbox.yaml"
          ports:
            - containerPort: 9115
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /etc/tls/
              name: grafana-tls
            - mountPath: /etc/oidc
              name: oidc-token-dir
              readOnly: true
          resources:
            limits:
              cpu: ".5"
              memory: "200Mi"
            requests:
              cpu: ".5"
              memory: "200Mi"
        - name: oidcgen
          image: sdnsense/oidcgen:latest
          imagePullPolicy: Always
          env:
            - name: SITERM_TOKEN_DIR
              value: /tokens
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi
          volumeMounts:
            - name: oidc-token-dir
              mountPath: /tokens
            - name: sense-o-auth
              mountPath: /root/.sense-o-auth.yaml
              subPath: .sense-o-auth.yaml
              readOnly: true
            - mountPath: /etc/tls/
              name: grafana-tls
      volumes:
        - name: config
          configMap:
            name: prometheus-blackbox-exporter-config-map
        - name: grafana-tls
          secret:
            secretName: autogole-grafana-secrets
            defaultMode: 0644
        - name: oidc-token-dir
          emptyDir:
            medium: Memory
        - name: sense-o-auth
          configMap:
            name: sense-o-auth
            defaultMode: 0644
---
kind: Service
apiVersion: v1
metadata:
  name: prometheus-blackbox-exporter-service
  namespace: opennsa
  labels:
    app: prometheus-blackbox-exporter
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9115
      protocol: TCP
  selector:
    app: prometheus-blackbox-exporter
