apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-blackbox-exporter-config-map
  labels:
    app: prometheus-blackbox-exporter
data:
  blackbox.yaml: |
    modules:
      https_v4_siterm_2xx:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip4"
          tls_config:
            insecure_skip_verify: true
            cert_file: /etc/tls/tls.crt
            key_file: /etc/tls/tls.key
      https_v6_siterm_2xx:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip6"
          tls_config:
            insecure_skip_verify: true
            cert_file: /etc/tls/tls.crt
            key_file: /etc/tls/tls.key
      v4_nrm_cenicdev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip4"
          authorization:
            credentials_file: /etc/oidc/oidc-nrm_cenicdev.token
      v6_nrm_cenicdev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip6"
          authorization:
            credentials_file: /etc/oidc/oidc-nrm_cenicdev.token
      v4_t2_us_caltech_dev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip4"
          authorization:
            credentials_file: /etc/oidc/oidc-t2_us_caltech_dev.token
      v6_t2_us_caltech_dev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip6"
          authorization:
            credentials_file: /etc/oidc/oidc-t2_us_caltech_dev.token
      v4_t2_us_sdsc_dev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip4"
          authorization:
            credentials_file: /etc/oidc/oidc-t2_us_sdsc_dev.token
      v6_t2_us_sdsc_dev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip6"
          authorization:
            credentials_file: /etc/oidc/oidc-t2_us_sdsc_dev.token
      v4_t2_us_sdsc_oasisdev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip4"
          authorization:
            credentials_file: /etc/oidc/oidc-t2_us_sdsc_oasisdev.token
      v6_t2_us_sdsc_oasisdev:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip6"
          authorization:
            credentials_file: /etc/oidc/oidc-t2_us_sdsc_oasisdev.token
      https_v4_network_2xx:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip4"
          tls_config:
            insecure_skip_verify: true
            cert_file: /etc/tls/tls.crt
            key_file: /etc/tls/tls.key
      https_v6_network_2xx:
        prober: http
        http:
          fail_if_ssl: false
          fail_if_not_ssl: true
          preferred_ip_protocol: "ip6"
          tls_config:
            insecure_skip_verify: true
            cert_file: /etc/tls/tls.crt
            key_file: /etc/tls/tls.key
      http_v4_network_2xx:
        prober: http
        http:
          fail_if_ssl: true
          fail_if_not_ssl: false
          preferred_ip_protocol: "ip4"
      http_v6_network_2xx:
        prober: http
        http:
          fail_if_ssl: true
          fail_if_not_ssl: false
          preferred_ip_protocol: "ip6"
      icmp_v4:
        prober: icmp
        icmp:
          preferred_ip_protocol: "ip4"
      icmp_v6:
        prober: icmp
        icmp:
          preferred_ip_protocol: "ip6"
