---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 256Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: grafana
  name: grafana
spec:
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
        supplementalGroups:
          - 0
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k8s-igrok-01.calit2.optiputer.net
                - k8s-igrok-02.calit2.optiputer.net
                - k8s-igrok-03.calit2.optiputer.net
                - k8s-igrok-04.calit2.optiputer.net
                - k8s-igrok-05.calit2.optiputer.net
                - k8s-igrok-06.calit2.optiputer.net
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.35.0-uclibc
          command:
            - sh
            - -c
            - |
              until nc -zv grafana-mysql 3306; do
                echo "Waiting for MySQL...";
                sleep 2;
              done;
          resources:
            limits:
              memory: "50Mi"
              cpu: "50m"
      containers:
        - name: grafana
          image: grafana/grafana:9.5.19
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http-grafana
              protocol: TCP
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          env:
          - name: GF_RENDERING_SERVER_URL
            value: "http://grafana-rend:8081/render"
          - name: GF_RENDERING_CALLBACK_URL
            value: "https://autogole-grafana.nrp-nautilus.io/"
          - name: GF_LOG_FILTERS
            value: "rendering:debug"
          - name: GF_INSTALL_PLUGINS
            value: "jdbranham-diagram-panel"
          resources:
            requests:
              cpu: 250m
              memory: 750Mi
            limits:
              cpu: 2
              memory: 2Gi
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: grafana-pv
            - name: grafana-config-vol
              mountPath: /etc/grafana/grafana.ini
              subPath: grafana.ini
            - name: grafana-config-vol
              mountPath: /usr/share/grafana/conf/defaults.ini
              subPath: grafana.ini-default
            - name: grafana-tls
              mountPath: /etc/tls
              readOnly: true
      volumes:
        - name: grafana-pv
          persistentVolumeClaim:
            claimName: grafana-pvc
        - name: grafana-config-vol
          configMap:
            name: grafana-config
        - name: grafana-tls
          secret:
            secretName: autogole-grafana-secrets
            defaultMode: 0644
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: grafana-mysql
  name: grafana-mysql
spec:
  selector:
    matchLabels:
      app: grafana-mysql
  template:
    metadata:
      labels:
        app: grafana-mysql
    spec:
      securityContext:
        fsGroup: 472
        supplementalGroups:
          - 0
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k8s-igrok-01.calit2.optiputer.net
                - k8s-igrok-02.calit2.optiputer.net
                - k8s-igrok-03.calit2.optiputer.net
                - k8s-igrok-04.calit2.optiputer.net
                - k8s-igrok-05.calit2.optiputer.net
                - k8s-igrok-06.calit2.optiputer.net
      containers:
        - image: mysql:8.0
          name: grafana-mysql
          env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-pass-grafana
                key: password
          - name: MYSQL_DATABASE
            value: grafana
          - name: MYSQL_USER
            value: grafana
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-pass-grafana
                key: password
          resources:
            requests:
              cpu: 500m
              memory: 750Mi
            limits:
              cpu: 2
              memory: 2Gi
          ports:
          - containerPort: 3306
            name: grafana-mysql
          volumeMounts:
          - name: mysql-persistent-storage
            mountPath: /var/lib/mysql
          - name: grafana-mysql-config
            mountPath: /etc/mysql/conf.d/
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: grafana-mysql-pvc
        - name: grafana-mysql-config
          configMap:
            name: grafana-mysql-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-mysql-config
data:
  max_connections.cnf: |
    [database]
    max_open_conn = 500
    max_idle_conn = 100
    conn_max_lifetime = 300
    [mysqld]
    max_connections = 1000
    wait_timeout = 180
    interactive_timeout = 180
    innodb_buffer_pool_size = 1073741824
    innodb_redo_log_capacity = 536870912
    innodb_flush_log_at_trx_commit = 2
    innodb_flush_method = O_DIRECT
    table_open_cache = 400
    table_definition_cache = 400
    max_allowed_packet = 64M
    thread_cache_size = 50
    character-set-server = utf8mb4
    collation-server = utf8mb4_unicode_ci
    skip-name-resolve
---
apiVersion: v1
kind: Service
metadata:
  name: grafana-mysql
spec:
  ports:
    - name: grafana-mysql
      port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app: grafana-mysql
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
      name: grafana
  selector:
    app: grafana
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: haproxy
  name: autogole-grafana-ingress
spec:
  rules:
  - host: autogole-grafana.nrp-nautilus.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: grafana
            port:
              number: 3000
  tls:
  - hosts:
    - autogole-grafana.nrp-nautilus.io
